<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=webstock;User ID=BMIDP;Password=BMIDP" />
    <add name="S_61.Properties.Settings.webstockConnectionString"
      connectionString="Data Source=WKS5123-PC;Initial Catalog=webstock;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="S_61.Properties.Settings.webConnectionString" connectionString="Data Source=.;Initial Catalog=web;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="S_61.Properties.Settings._74ConnectionString" connectionString="Data Source=.;Initial Catalog=74;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="S_61.Properties.Settings.CHKConnectionString" connectionString="Data Source=.;Initial Catalog=CHK;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="S_61.Properties.Settings.CHK1ConnectionString" connectionString="Data Source=.;Initial Catalog=CHK1;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

<startup useLegacyV2RuntimeActivationPolicy="true">
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
